<a href="https://colab.research.google.com/github/anushka964/cppDSA/blob/main/PythonClass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

print() function accepts two arguments sep=" " and end = ""
eg: print("hello","World",sep = "***",end=".")
output: hello***World.

**Octal and hexadecimal numbers**
-

There are two additional conventions in Python that are unknown to the world of mathematics. The first allows us to use numbers in an octal representation.

If an integer number is preceded by an **0O or 0o **prefix (zero-o), it will be treated as an octal value. This means that the number must contain digits taken from the [0..7] range only.

In [ ]:
gusses=10
print(gusses)
gusses -= 1
print(gusses)

10
9

Scientific Representation
3E8 this E is exponent can also be written as 3e8
is equvalent to 3 x 10^8

Note:

the exponent (the value after the E) has to be an integer

the base (the value in front of the E) may be either an integer or a float.

In [ ]:
3E8

300000000.0

EXPONENT IN PYTHON

Remember: It's possible to formulate the following rules based on this
- result:

- when both ** arguments are integers, the result is an integer, too;
- when at least one ** argument is a float, the result is a float, too.

**NOTE**: Same rules apply for multiplication

In [ ]:
print(2 ** 3)
print(2 ** 3.)
print(2. ** 3)
print(2. ** 3.)

8
8.0
8.0
8.0

Division in Python

- **The result produced by the division operator is always a float**, regardless of whether or not the result seems to be a float at first.
- A // (double slash) sign is an integer division operator. It differs from the standard / operator in two details:

**its result lacks the fractional part ‒ it's absent (for integers), or is always equal to zero (for floats)**; this means that the results are always rounded;

In [ ]:
print(6 // 3)
print(6 // 3.)
print(6. // 3)
print(6. // 3.)

2
2.0
2.0
2.0

Fun Fact:
**rounding always goes to the lesser integer.**

In case of neagative values since ans is -1.5 the lesser rounding goes to -2 and not -1

In [ ]:
print(-6 // 4)
print(6. // -4)

-2
-2.0

BINDING:

- Most python operator have left-sided binding.
- exponential operator ** has right side binding

from left to right: first 9 % 6 gives 3, and then 3 % 2 gives 1;

2 ** 3 → 8; 2 ** 8 → 256

In [ ]:
print(9 % 6 % 2)
print(2**2**3)

1
256

first computed 5 * ((25 % 13) + 100

then 560 /26

then 21.53846153846154//2

In [ ]:
print((5 * ((25 % 13) + 100) / (2 * 13)) // 2)

10.0

to find sqeuare root of a function without using a function:

c = (a ** 2 + b ** 2) ** 0.5

round() function round a number upto 1,2,3 decimal places

In [ ]:
kilometers = 12.25
miles = 7.38

miles_to_kilometers = miles * 1.61
kilometers_to_miles = kilometers / 1.61

print(miles, "miles is", round(miles_to_kilometers, 2), "kilometers")
print(kilometers, "kilometers is", round(kilometers_to_miles, 2), "miles")

7.38 miles is 11.88 kilometers
12.25 kilometers is 7.61 miles

In [ ]:
# 2 (starting number) → 5 (2 increment by 3 equals 5 – the number is within the range from 2 to 8) → 8
#  (5 increment by 3 equals 8 – the number is not within the range from 2 to 8,
#  because the stop parameter is not included in the sequence of numbers generated by the function.)
for i in range(2, 8, 3):
    print("The value of i is currently", i)

In [ ]:
#functions
name = input("Enter your name : ")
print("your name is:" + name)
def greet():
  age = int(input("Enter your age: "))
  print("Your age is: "+str(age))
greet()

Enter your name : Anushka
your name is:Anushka
Enter your age: 19
Your age is: 19

In [ ]:
# Built in functions in python
''' def functionName(inputName)
        body'''
def addFive(x):
  print(5+x)
addFive(30)

35

In [ ]:
addFive(98.2)

103.2

In [ ]:
def square(x):
  return x*x
result= square(5)
print(result)
another=square(result)
print(another)

25
625

In [ ]:
def sumOfSquare(x,y):
  sq1=x*x
  sq2=y*y
  return sq1+sq2
result=sumOfSquare(5,3)
print(result)

34

In [ ]:
import calendar
print(calendar.month(2024,9))

   September 2024
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

**Binary left shift and binary right shift**

In [ ]:
var = 17
var_right = var >> 1
var_left = var << 2
print(var, var_left, var_right)

& (ampersand) ‒ bitwise conjunction;

| (bar) ‒ bitwise disjunction;

~ (tilde) ‒ bitwise negation;

^ (caret) ‒ bitwise exclusive or (xor).

In [ ]:
import math
print(math.sqrt(625))

25.0

In [ ]:
name=input("Enter your name: ")
print(name)
print(type(name))

Enter your name: Anushka
Anushka

str

In [ ]:
def sum(x,y):

  print("Sum of two numbers: ")
  return x+y
print(sum(2,5))

Sum of two numbers:
7

In [ ]:
print("hello"+" "+"python")
#this is python code]

hello python

In [ ]:
number="anushkam"
print(type(number))
print(number,"is type of ",type(number))

<class 'str'>
anushka is type of  <class 'str'>

In [ ]:
a="welcome"
print(a[-3])

o

In [ ]:
for num in range(3):
    print("attempt")

attempt
attempt
attempt

In [ ]:
for x in range(1,10,2):
    print(x)

1
3
5
7
9

In [ ]:
successful=True
for x in range(3):

  if successful:
    print("successful")
  else:

    print("unsuccessful")

successful
successful
successful

In [ ]:
import random
num = random.randint(1,100)
print(num)

22

In [ ]:
fruits = ["apple","banana","cherry","kiwi"]
eat = random.choice(fruits)
print(eat)

apple

In [ ]:
deck=["ace","king","queen","one","two"]
random.shuffle(deck)
print

In [ ]:
name="ice"
type(name)

str

**Collection of data**

In [ ]:
list1=[2.5,"C++","Java",500,"C#"]
print(list1)
list1

[2.5, 'C++', 'Java', 500, 'C#']

list

Python provide Squences to store collection of data
1)list
2)Tuple
3)Dictionary

**List**
- A sequence with specific order
- Square bracket to declare a list
- Commas seperate items
- Can store all type of data

**METHODS OF LIST**
- append: list.append(value)
  
  note: adds only one element at a time
- insert: list.insert(location,value)
- sort: list.sort() sort the list in ascending
- reverse(): list.reverse()
- extend(): extends already existing list
- remove():any position element from list
- pop():  delete only last element from the list

In [ ]:
print(list1[1])

C++

In [ ]:
list1=[1,2,3,4]
list1.insert(1,1)
print(list1)

[1, 1, 2, 3, 4]
[1, 1, 2, 3, 4]

del can delete more than one element using slicing

In [ ]:
# Removing elements from a list
# Any of the list's elements may be removed at any time ‒
#this is done with an instruction named del (delete). Note: it's an instruction, not a function.
name = ['anushka','archi','ambika','aishwarya','akruti']
del name[2]
print(name)
del name[1:]
print(name)

['anushka', 'archi', 'aishwarya', 'akruti']
['anushka']

**in and not in Operators in LIST**

In [ ]:
my_list = [0, 3, 12, 8, 2]
print(5 in my_list)
print(5 not in my_list)
print(12 in my_list)

False
True
True

In [ ]:
my_list = []  # Creating an empty list.

for i in range(5):
    my_list.append(i + 1)

print(my_list)
my_list1 = []  # Creating an empty list.

for i in range(5):
  # at 0 index first 1 inserted then at 0 index 2 gets inserted and so on..
    my_list1.insert(0, i + 1)#use of insert method

print(my_list1)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [ ]:
# PROGRAM TO PRINT UNIQUE ELEMENTS OF A LIST
my_list = [1, 2, 4, 4, 1, 4, 2, 6, 2, 9]
new = []
#
# Write your code here.
#
new.append(my_list[0])
for i in my_list:
    if i not in new:
        new.append(i)
print("The list with unique elements only:")
print(new)

In [ ]:
list1[3]="Ruby"
print(list1[3])
d="hello"
list1=list(d) # LIST function creates a list for given input
print(list1)

Ruby
['h', 'e', 'l', 'l', 'o']

In [ ]:
# SPLIT Command
s="learning python"
list1 = s.split()
print(list1)

['learning', 'python']

increment includes the start position also

In [ ]:
list2=[10,20,30,4,50,60,70,80,90,100]
print(list2[2:5])
print(list2[4::2])
print(list2[8:2:-2])
#print(list2)

[30, 4, 50]
[50, 70, 90]
[90, 70, 50]

In [ ]:
#If the start specifies an element lying further than the one described by the end
#(from the list's beginning), the slice will be empty:
my_list = [10, 8, 6, 4, 2]
new_list = my_list[-1:1]
print(new_list)

[]

In [ ]:
# LIST TRAVERSAL
n = [0,1,2,3,4]
i=0
while i<len(n):
  print(n[i])
  i+=1

0
1
2
3
4

**The name of a list is the name of a memory location where the list is stored.**

In [ ]:
list_1 = [1]
list_2 = list_1
list_1[0] = 2
print(list_2)
# note instead of print [1] elemnt of list_2 output is [2]

In [ ]:
# write a program to display even no from list of elements
l=[0,1,2,3,4,5,6,7,8,9,10]
for x in l:
  if x%2==0:
     print(x)

0
2
4
6
8
10

In [ ]:
# SWAPPING IN PYTHON
variable_1 = 1
variable_2 = 2
print("Before swapping:")
print("variable_1 =", variable_1)
print("variable_2 =", variable_2)
variable_1, variable_2 = variable_2, variable_1
print("After swapping:")
print("variable_1 =", variable_1)
print("variable_2 =", variable_2)

Before swapping:
variable_1 = 1
variable_2 = 2
After swapping:
variable_1 = 2
variable_2 = 1

In [ ]:
# write a program to add all element to list upto 100 divisible by 10
l=[]
for x in range(101):
  if x%10==0:
    l.append(x)
print(l)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

H.W

hi 0

hi 1

hi 2

*******************************************************************
hi 0 *

hi 1 **

hi 2 ***

In [ ]:
if 20 in list2:
  print("yes , 'people' is here")
for x in list2:
   if x==20:
     print("yes")

yes , 'people' is here
yes

**Tuples**
- Have specific order
- Items can't be changed
- Parentheses() enclose items
- commas seperate items

Method of tuples:
- len()
- count(element) : count the occurence of an element
- index(element): return the index of first occurence of the element passed

In [ ]:
Emp1_details = ("Emp01","Anushka","Developer",50000,"05/09/2022")
Emp2_details = ("Emp02","Aishwarya","Manager",90000,"11/02/2017")
type(Emp1_details)

tuple

In [8]:
t=10,20,30,40
print(t)
print(type(t))

list=[10,20,30,40]
t = tuple(list)
t = tuple(range(10,20,2))
print(t)

t = (10,20,30,40,50,60)
print(t[2])
print(t[2:100])   #Note : here 100 is not in the list still no error
print("****************************** Functions in tuples **********************************")
print(len(t))
print(t.count(20))
print(t.index(20))

(10, 20, 30, 40)
<class 'tuple'>
(10, 12, 14, 16, 18)
30
(30, 40, 50, 60)
****************************** Functions in tuples **********************************
6
1
1

**Note**: *List can be modified* but *tuples cannot*

### INDEXING
- **Purpose**: Used for retrieval of data from a sequence (like lists, tuples, strings).
- **Syntax**:
  ```python
  element = list[index]
  ```
- **Example**:
  ```python
  my_list = [10, 20, 30, 40, 50]
  print(my_list[2])  # Output: 30
  ```
- **Note**: Indexing starts at `0`.

### `range()` Function
- **Purpose**: Generates a sequence of numbers, often used in loops.
- **Syntax**:
  ```python
  range(start, stop, step)
  ```
- **Example**:
  ```python
  for i in range(0, len(my_list)):  # Iterates over indices from 0 to len(my_list) - 1
      print(my_list[i])  # Prints each element
  ```
- **Important**: The `range()` function iterates over **indices**, not elements, which is different from slicing.

### SLICING
- **Purpose**: Used to access a subset of elements from a sequence.
- **Syntax**:
  ```python
  sublist = list[start:end:step]
  ```
  - `start`: The starting index (inclusive).
  - `end`: The ending index (exclusive).
  - `step`: (Optional) The interval between each index.
- **Example**:
  ```python
  my_list = [10, 20, 30, 40, 50]
  print(my_list[1:4])  # Output: [20, 30, 40]
  print(my_list[::2])   # Output: [10, 30, 50] (Every second element)
  ```
- **Note**: The last index in slicing is excluded; `my_list[1:4]` retrieves elements at indices `1`, `2`, and `3`, but not `4`.

### Iteration Mistake:
- When using `for i in range(0, len(num_list))`, it iterates over **indices** of the list.
- When using `for num in num_list[1:]`, it iterates over **elements**, not indices.
- **Correct Usage**:
  - To access elements directly, use slicing or iterate over the list:
    ```python
    for num in num_list[1:]:
        # Do something with num
    ```
  
### Additional Points:
- **Negative Indexing**:
  - Python supports negative indexing where `-1` refers to the last element, `-2` to the second last, and so on.
  - Example:
    ```python
    print(my_list[-1])  # Output: 50
    print(my_list[-3:]) # Output: [30, 40, 50]
    ```

In [ ]:
a = 6
b = 3
a /= 2 * b
print(a)

1.0

USE of upper( ) and lower( ) Functions

string_name.lower()

also use of f-string in python

eg  print (f 'Spathiphyllum! Not {name}! ')

In [ ]:
def check_plant_name(name):
  name = f(name)
  if name.upper() == 'SPATHIPHYLLUM':
      print('Yes - Spathiphyllum is the best plant ever!')
  else:
      print(f'Spathiphyllum! Not {name}!')

name = input("Enter name: ")
check_plant_name(name)

In [ ]:
n=int(input("Enter a number: "))
a=int(input("Enter another number: "))
def sum(x,y):
  x=n
  y=a
  return x+y
print("Sum of two given number is: ",sum(n,a))

In [ ]:
def minimum(x,y):
  if x<y:
    print("x is minimum")
  else:
    print("y is minimum")
x= int(input("Enter a number:")) #This will not expect float values
y= int(input("Enter another number:"))
minimum(x,y)

In [ ]:
def find_minimum():
  """Gets two numbers from the user and prints the minimum."""

  # Get input from the user, handling potential errors.
  while True:
    try:
      num1 = float(input("Enter the first number: "))
      num2 = float(input("Enter the second number: "))
      break  # Exit the loop if input is valid.
    except ValueError:
      print("Invalid input. Please enter numbers only.")

  # Find and print the minimum.
  minimum = min(num1, num2)
  print(f"The minimum number is: {minimum}")

# Call the function to execute it.
find_minimum()

In [ ]:
x = float(input("Enter value for x: "))
y = ((x+(x+(x+x**-1)**-1)**-1)**-1)
print("y =", y)

Enter value for x: 100
y = 0.009999000199950014

In [ ]:
#CISCO LAB QUESTION
hour = int(input("Starting time (hours): "))
mins = int(input("Starting time (minutes): "))
dura = int(input("Event duration (minutes): "))

hour = (hour + (mins + dura) // 60) % 24  # Update hour, handling day rollover
mins = (mins + dura) % 60  # Update minutes, ensuring 0-59 range

print(f"{hour}:{mins:02}")  # Print with leading zero for minutes

f-strings (Formatted String Literals)

In Python, an f-string (or formatted string literal) is a way to embed expressions inside string literals using curly braces {}. The f or F before the opening quote indicates that it's an f-string.

eg:

name = "Alice"
age = 30
print(f"Hello, my name is {name} and I am {age} years old.")

In [ ]:
x = int(input())
y = int(input())

x = x // y
y = y // x

print(y)

2
4

ZeroDivisionError: integer division or modulo by zero

In [ ]:
x = 1 / 2 + 3 // 3 + 4 ** 2
print(x)

17.5

In [ ]:
# PROGRAM TO CHECK A NUMBER IS PRIME OR NOT
n = int(input("Enter a number: "))
count = 0
for i in range(2, n):
    if n % i == 0:
        count += 1
if count > 0:
    print("Number is composite.")
else:
    print("Number is prime.")

Enter a number: 71
Number is prime.

In [ ]:
# PROGRAM TO CHECK A YEAR IS LEAP YEAR OR NOT
# if the year number isn't divisible by four, it's a common year;
# otherwise, if the year number isn't divisible by 100, it's a leap year;
# otherwise, if the year number isn't divisible by 400, it's a common year;
# otherwise, it's a leap year.
year = int(input("Enter a year: "))

if year < 1582:
	print("Not within the Gregorian calendar period")
else:
    if year % 4 !=0 or year %400 !=0 :
       print("Common year")
    elif year % 100 != 0 :
        print("Leap year")
    else:
        print("Leap year")

Enter a year: 2016
Common year

**break** – exits the loop immediately, and unconditionally ends the loop's operation; the program begins to execute the nearest instruction after the loop's body;
*******************************************
**continue** – behaves as if the program has suddenly reached the end of the body; the next turn is started and the condition expression is tested immediately.

In [ ]:
#PROGRAM TO REMOVE ALL VOWEL FROM A WORD
user_word = input("Enter a word: ").lower()
word_without_vowels = ""

for letter in user_word:
    if letter == 'a' or letter == 'e' or letter == 'i' or letter == 'o' or letter == 'u':
        continue
    else:
        word_without_vowels += letter

print(word_without_vowels.upper())

In [ ]:
for i in range(5):

  print(i + 1, end=" * ")
  for j in range(i):
      print("*", end=" ")
  print()

1 *
2 * *
3 * * *
4 * * * *
5 * * * * *

In [ ]:
for i in range(3):
  print("Hi ",i+1)

Hi  1
Hi  2
Hi  3

In [ ]:
def introduction(first_name, last_name="Smith"):
     print("Hello, my name is", first_name, last_name)
introduction("James")

Hello, my name is James Smith

Parametrized Function:
- Passing default argument
- note: you cannot pass default argumnet before a non default arg as we did below

In [ ]:
def add_numbers(a, b=2, c):
    print(a + b + c)

add_numbers(a=1,c=3)

SyntaxError: non-default argument follows default argument (<ipython-input-27-6ece2d8925a0>, line 1)

In [ ]:
# WRITE A PROGRAM TO DISPLAY ELEMENT BY INDEX VALUE FROM A LIST OF ELEMENTS
my_list = [10,20,30,40,50,60,70,80,90,100]
for i in range(len(my_list)):
  print(my_list[i],'is at index value',i,'negative index',i-len(my_list))
#

10 is at index value 0 negative index -10
20 is at index value 1 negative index -9
30 is at index value 2 negative index -8
40 is at index value 3 negative index -7
50 is at index value 4 negative index -6
60 is at index value 5 negative index -5
70 is at index value 6 negative index -4
80 is at index value 7 negative index -3
90 is at index value 8 negative index -2
100 is at index value 9 negative index -1

SLICING IS USED FOR CLONING

In [ ]:
x = [10,20,30,40,50,60,70,80,90,100]
y = x  # shows aliasing
print(id(x))
print(id(y))

y[1]=777
print(x)

x = [10,20,30,50]
y = x[:]  # shows cloning
print(id(x))
print(id(y))
y[1]=777
print(x)
y.insert(50,48)
y.insert(-10,45)
print(y)

134136117496064
134136117496064
[10, 777, 30, 40, 50, 60, 70, 80, 90, 100]
134137032398720
134136119112704
[10, 20, 30, 50]
[45, 10, 777, 30, 50, 48]

In [ ]:
#PROGRAM USING FUNCTION TO CHECK PRIME NUMBER
def is_prime(num):
    for i in range(2,int(num**0.5) + 1): # only num**0.5 returns float value therefore used typecasting
        if num % i == 0:
           return False

    return True
for i in range(1, 20):
    if is_prime(i + 1):
        print(i + 1, end=" ")
print()

2 3 5 7 11 13 17 19

**DICTIONARY**

It's not a sequence type (but can be easily adapted to sequence processing) and it is mutable.

This means that a dictionary is a set of key-value pairs. Note:

each key must be unique − it's not possible to have more than one key of the same value;
- **a key may be any immutable** type of object: it can be a number (integer or float), or even a string, but not a list;
- a dictionary is not a list − a list contains a set of numbered values, while a dictionary holds pairs of values;
- the len() function works for dictionaries, too − it returns the number of key-value elements in the dictionary;
- a dictionary is a one-way tool − if you have an English-French dictionary, you can look for French equivalents of English terms, but not vice versa.

To get sorted dictionary use  **sorted keyword** in for loop.
**To add an element 2 types:**
- dictionary['swan'] = 'cygne'  
//use a new key and assign it the value
- dictionary.update({"duck": "canard"})  
//use update keyword

Removal of a key using **del** keyword
- del dictionary['dog']

**Note**: removing a non-existing key causes an error.

To remove the last item from the list
use **popitem**()

- to delete whole dictinary use dict.clear()
- to copy dictionary use dict.copy()
- to access item from key use dict.get("key_name")
- If you want to loop through a dictionary's keys and values, you can use the items() method

In [ ]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}
phone_numbers = {'boss': 5551234567, 'Suzy': 22657854310}
empty_dictionary = {}

print(dictionary)
print(phone_numbers)
print(empty_dictionary)

{'cat': 'chat', 'dog': 'chien', 'horse': 'cheval'}
{'boss': 5551234567, 'Suzy': 22657854310}
{}

In [ ]:
my_dict = {"cat": "chat", "dog": "chien", "horse": "cheval"}

for key in my_dict.keys():
    print(key, "->", my_dict[key])

cat -> chat
dog -> chien
horse -> cheval

In [ ]:
# To get sorted dictionary
for key in sorted(my_dict.keys()):
  print(my_dict[key])

# To

chat
chien
cheval

In [ ]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}

dictionary.popitem()
print(dictionary)    # outputs: {'cat': 'chat', 'dog': 'chien'}

**EXCEPTION HANDLING PYHTON**

 **try keyword** – this is the place where you put the code you suspect is risky and may be terminated in case of error;

 note: this kind of error is called an exception, while the exception occurrence is called raising – we can say that an exception is (or was) raised;

 The part of the code starting with the except keyword is designed to handle the exception

In [ ]:
try:
    value = int(input('Enter a natural number: '))
    print('The reciprocal of', value, 'is', 1/value)
except ValueError:
    print('I do not know what to do.')
except ZeroDivisionError:
    print('Division by zero is not allowed in our Universe.')

Enter a natural number: cat
I do not know what to do.

Useful Exceptions
- ZeroDivisionError
- ValueError: In general, this exception is raised when a function (like int() or float()) receives an argument of a proper type, but its value is unacceptable.
- TypeError
- AttributeError
- SyntaxError

In [ ]:
# Program for factorial using recursive function

def factorial(n):
  if n==1:
    return 1
  else:
    return n*factorial(n-1)
print(factorial(5))

120

In [ ]:
# program to calculate sum of digits recursivly
def sumOfDigit(n):
  if n<=0:
    return n
  else:
    other_digit=n//10
    last_digit= n%10
    return last_digit + sumOfDigit(other_digit)

print(sumOfDigit(1234))

10

In [ ]:
# Program to find nth number of fibonacci sequence
def fib(n):
  if n==1:
    return 0
  elif n==2:
    return 1
  else:
    return fib(n-1)+fib(n-2)
print(fib(4))

2

In [ ]:
#Program to check a string is palindrome
def isPalindrome(s):
  if len(s)<=1:
    return True
  else:
    if s[0]==s[-1]:
      return isPalindrome(s[1:-1])
    else:
      return False
print(isPalindrome('spoon'))
print(isPalindrome('racecar'))

False
True

**OBJECT ORIENTED PROGRAMMING IN PYTHON**

syntax to make a class

class class_name( ): //note class_name should start with capital letter

for example:
 class Animal( ):

In [ ]:
class Animal():
  def __init__(self,name,age): # this is an initialization function
    self.name=name
    self.age=age
  def speak(self):
    print("I am",self.name,"and I am",self.age,"years old")

#creating object for the class
dog = Animal("dog",15)
dog.speak()
dog.age -=5
print(dog.age)

# inheritance
class bird(Animal):
  def __init__(self,name,age):

      self.name= name
      self.age=age
      self.color=color
  def speak(self):
    print("I am",self.name,"and I am",self.age,"years old and I am",self.color)

crow=bird("crow",5)
crow.color="red"
crow.speak()

I am dog and I am 15 years old
10

NameError: name 'red' is not defined